sor4-engine/Library/
sor4-engine/webplayer/
**/bin/**
*/Temp/
*.csproj
*.unityproj
sor4-engine/*.sln
*.user
*.userprefs
*.DS_store
sor4-engine/playback.txt
assets-packer/Library/
character-editor/Library/
*.meta
**/obj/Debug/*
