sor4-engine/Library/
sor4-engine/*.csproj
sor4-engine/*.unityproj
sor4-engine/*.sln

assets-packer/Library/
assets-packer/*.csproj
assets-packer/*.unityproj
assets-packer/*.sln

character-editor/Library/
character-editor/*.csproj
character-editor/*.unityproj
character-editor/*.sln

**/bin/**
**/Temp/
*.user
*.userprefs
*.DS_store
*.DS_store?
sor4-engine/playback.txt
**/obj/Debug/*
