**/Library/**
**/bin/**
**/obj/**
**/Temp/
*.unityproj
*.user
*.userprefs
*.DS_store
*.app
unity-game/playback.txt
unity-game/webplayer/
unity-game/bin/
unity-game/*.sln
unity-game/*.csproj
editor/assets-packer/*.sln
editor/character-editor/*.sln
editor/assets-packer/*.csproj
editor/character-editor/*.csproj
editor/assets-packer/bin/
editor/character-editor/bin/
**/win*_Data/*
win*.exe
player_win_development_x86.pdb
player_win_development_x86_s.pdb
sor4-engine/
